TABLE.outer{background:#000000; width:175px;}
TD.one{background:#CCCCCC;}
TABLE.inner{color:#000000; font-family:Verdana; font-size:8pt;}
.link{color:#000000; text-decoration:none;}
.title{font-size:10pt;}